<div class="d-flex justify-content-around m-4">
    <div class="d-flex">
        <img src="~/logo.png" alt="Giftr logo" class="logo">
        <h6 class="d-flex align-items-end m-4">Logged in as <span class="text-success text-decoration-underline mx-2"> @Context.Session.GetString("Username")</span></h6>
    
    </div>
    
    <div>
        @* Add wishlist link   *@
        <a class="m-3 btn border" href="/giftexchange/dashboard"><span class="fs-5">Home</span></a>
        <a class="m-3 btn border" href="/logout"><span class="fs-5">Logout</span></a>
    </div>
</div>