<div class="d-flex justify-content-around m-4">
    <h3 class="d-flex align-items-center">Logged in as<span class="text-info m-2"> @Context.Session.GetString("Username")</span></h3>
    <div>
        @* Add wishlist link   *@
        <a class="m-3 btn border" href="/giftexchange/dashboard"><span class="fs-5">Home</span></a>
        <a class="m-3 btn border" href="/logout"><span class="fs-5">Logout</span></a>
    </div>
</div>