<div class="d-flex justify-content-around m-4">
    <h3>Welcome @Context.Session.GetString("Username")</h3>
    <div>
        @* why is home button not work inside  *@
        <a class="m-3" href="/giftexchange/dashboard"><span class="fs-5">Home</span></a>
        <a class="m-3" href="/logout"><span class="fs-5">Logout</span></a>
    </div>
</div>