
@model Item

<div class="my-5">
    <h3 class="text-center">Add</h3>
    <form asp-action="CreateItem" asp-controller="Item" method="post">

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="UserId" value=@Context.Session.GetInt32("UserId") >

        <div class="text-center my-2">
            <button type="submit">Add Item</button>
        </div>
    </form>
</div>