@{
    ViewData["Title"] = "Add Item to your Wishlist";
}

@model User

<div class="text-center wHeader">
    
    @if (Model.UserId == Context.Session.GetInt32("UserId"))
    {
        <h3 class="header">Your Wishlist</h3>
        <div class="line w-25 m-auto"> </div>
        <a class="lgBtn rounded wHeader" asp-action="AddItem" asp-controller="Item">
            Add
        </a>
    }
    else 
    {
        <h3 class="header"><span class="glow">@Model.Username</span>'s Wishlist</h3>
        <div class="line w-25 m-auto"></div>
    }
    
</div>