@model User

<div class="text-center d-flex flex-column my-5">
    @foreach (Item i in Model.ItemList)
    {
        <div class="Item justify-content-between rounded">

            <div class="d-flex flex-column align-items-start justify-content-evenly m-4">
                <h3>@i.Name</h3>
                <p class="text-start">@i.Description</p>

                <div class="d-flex">
                    @if (Model.UserId == Context.Session.GetInt32("UserId"))
                    {
                    <a asp-action="EditItem" asp-controller="Item" asp-route-ItemId=@i.ItemId>
                        <img class="settingIcon mx-2" src="https://tse3.mm.bing.net/th?id=OIP.QEe-GU09hcZdV4lC32nbOAHaHa&pid=Api" alt="Edit Button">    
                    </a>

                    <form asp-action="DestroyItem" asp-controller="Item" asp-route-ItemId=@i.ItemId method="post">
                        <button class="border-0 bg-white">
                            <img class="settingIcon" src="https://tse1.mm.bing.net/th?id=OIP.6LR3_KA7y97FSJoCR9WvTQHaHa&pid=Api" alt="Delete Button">
                        </button>
                    </form>
                    }
                </div>
                
            </div>

            <div class="d-flex align-items-center mx-4">
                <img class="itemImage" src=@i.Image alt="item image"></img>
            </div>

        </div>
        
    }
</div>