@{
    ViewData["Title"] = "Edit Item";
}
@model MyViewModel
<div>
    @await Html.PartialAsync("_Navbar")

    @await Html.PartialAsync("_WishlistHeader", @Model.User)

    <div class=" d-flex justify-content-evenly">
        <div class=" d-flex  flex-column align-items-center">
            @await Html.PartialAsync("_Wishlist", @Model.User)
        </div>
        <div>
            @await Html.PartialAsync("_EditItemForm", @Model.Item)
        </div>
    </div>
</div>