@{
    ViewData["Title"] = @Model.User.Username + "'s WishList";
}
@model MyViewModel
<div>
    @await Html.PartialAsync("_Navbar")

    @await Html.PartialAsync("_WishlistHeader", @Model.User)

    <div class=" d-flex  flex-column align-items-center">
        @await Html.PartialAsync("_Wishlist", @Model.User)
    </div>
</div>