@{
    ViewData["Title"] = "Login and Register";
}
@model User
<div class="text-center">
    <img src="~/logoWithNewFont_Montserrat.png" alt="Giftr Logo" class="logo">
</div>

<div class="text-center d-flex justify-content-center">

    
    <div class="flex-1 m-4">

        <h2>Register</h2>
        <hr class="line w-50 m-auto">
        
        <form asp-action="RegisterUser" asp-controller="Home" method="post">

            <div class="m-3">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="m-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="m-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <small>**Password must be at least 8 characters</small>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="m-3">
                <label asp-for="CPassword"></label>
                <input asp-for="CPassword" class="form-control">
                <span asp-validation-for="CPassword" class="text-danger"></span>
            </div>

            <button class="btn lgBtn" type="submit">Register Now</button>

        </form>

    </div>

    <div class="flex-1 m-4">

        <h2>Login</h2>
        <hr class="line w-50 m-auto">
        @await  Html.PartialAsync("_Login")

    </div>

</div>
