@{
    ViewData["Title"] = "Dashboard";
}
@model MyViewModel
<div>
    @await Html.PartialAsync("_Navbar")

    <div class="d-flex justify-content-evenly">
        <a class="m-4 p-4 border border-2 rounded fs-2" href="/members/new">Join A Gift Exchange</a>
        <a class="m-4 p-4 border border-2 rounded fs-2" href="/giftexchanges/new">Create A Gift Exchange</a>
    </div>

    <div class="text-center">
        <h1>Your Gift Exchanges</h1> 
        <ul class="list-unstyled">
            @foreach(GiftExchange g in Model.AllGiftExchanges)
            {
                if(g.MemberList.Any(m=>m.UserId == Context.Session.GetInt32("UserId")))
                {
                <form asp-action="OneGiftExchange" asp-controller="GiftExchange" asp-route-GiftExchangeId="@g.GiftExchangeId" method="get">
                    <button type="submit" class="m-3">@g.Name</button>
                </form>
                }
            }
        </ul>
    </div>

</div>