@{
    ViewData["Title"] = "Edit Gift Exchange";
}
@model GiftExchange
<div>
    @await Html.PartialAsync("_Navbar")

    <h3 class="header">Edit this Gift Exchange</h3>
    
    <div class="text-center">
        <a type="button" class="smBtn" asp-action="OneGiftExchange" asp-controller="GiftExchange" asp-route-GiftExchangeId=@Model.GiftExchangeId><small>Return</small></a>
    </div>

    <hr class="line w-25 m-auto">

    <form class="m-3" asp-action="UpdateGiftExchange" asp-controller="GiftExchange" asp-route-GiftExchangeId=@Model.GiftExchangeId method="post">

        <div class="formItem">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="GroupCode" value=@Model.GroupCode>
            
        <div class="formItem">
            <label asp-for="Budget"></label>
            <input asp-for="Budget" class="form-control">
            <span asp-validation-for="Budget" class="text-danger"></span>
        </div>
        
        <div class="formItem">
            <label asp-for="ExchangeDate"></label>
            <input asp-for="ExchangeDate" class="form-control">
            <span asp-validation-for="ExchangeDate" class="text-danger"></span>
        </div>

        <div class="formItem">
            <label asp-for="Details"></label>
            <textarea asp-for="Details" class="form-control"></textarea>
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="UserId" value=@Context.Session.GetInt32("UserId") >

        <div class="text-center">
            <button class="lgBtn btn" type="submit">Update</button>
        </div>
        
    </form>
</div>