@{
    ViewData["Title"] = "Create Gift Exchange";
}
@model GiftExchange
<div>
    @await Html.PartialAsync("_Navbar")

    <h3 class="header">Create a new Gift Exchange</h3>

    <div class="text-center">
        <a type="button" class="smBtn" asp-action="Dashboard" asp-controller="GiftExchange"><small>Return to Dashboard</small></a>
    </div>

    <hr class="line w-25 m-auto">

    <form class="m-3" asp-action="CreateGiftExchange" asp-controller="GiftExchange" method="post">

        <div class="formItem">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="formItem">
            <label asp-for="GroupCode"></label>
            <small>*For others to join your gift exchange, they will need this GroupCode*</small>
            <input asp-for="GroupCode" class="form-control">
            <span asp-validation-for="GroupCode" class="text-danger"></span>
        </div>

        <div class="formItem">
            <label asp-for="Budget"></label>
            <input asp-for="Budget" class="form-control">
            <span asp-validation-for="Budget" class="text-danger"></span>
        </div>
        
        <div class="formItem">
            <label asp-for="ExchangeDate"></label>
            <input asp-for="ExchangeDate" class="form-control">
            <span asp-validation-for="ExchangeDate" class="text-danger"></span>
        </div>

        <div class="formItem">
            <label asp-for="Details"></label>
            <textarea asp-for="Details" class="form-control"></textarea>
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="UserId" value=@Context.Session.GetInt32("UserId") >

        <div class="text-center">
            <button class="lgBtn btn" type="submit">Create Gift Exchange</button>
        </div>
        
    </form>
</div>