@{
    ViewData["Title"] = "Gift Exchange Details";
}
@model MyViewModel
<div>
    @await Html.PartialAsync("_Navbar")
    
    <div class="text-center">
        <h1>The <span class="text-success text-decoration-underline">@Model.GiftExchange.Name</span> Gift Exchange</h1>
        @if(Model.GiftExchange.Admin.UserId == Context.Session.GetInt32("UserId"))
        {
        <small><a asp-action="EditGiftExchange" asp-controller="GiftExchange" asp-route-GiftExchangeId=@Model.GiftExchange.GiftExchangeId>Edit this Gift Exchange</a></small>
        }
    </div>
    

    <div class="d-flex justify-content-evenly m-5">
        <div class="text-center d-flex flex-column">
            <h3>Members</h3>
            @foreach (Member m in Model.GiftExchange.MemberList)
            {
                <a asp-action="OneWishlist" asp-controller="Item" asp-route-UserId=@m.User.UserId class="m-2">@m.User.Username</a>
            }
        </div>

        <div>
            <strong>Details</strong>
            <p>@Model.GiftExchange.Details</p>
            <strong>Budget</strong>
            <p>$@Model.GiftExchange.Budget</p>
            <strong>Exchange Date</strong>
            <p>@Model.GiftExchange.ExchangeDate.ToString("MMMM dd, yyyy")</p>
        </div>
    </div>

</div>
