html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
  height: 75px;
}

.Item {
  border: black 1px solid;
  height: 200px;
  width: 450px;
  display: flex;
}

.settingIcon {
  height: 20px;
}